* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  background-color: blueviolet;
  color: white;
}

body {
  width: 100vw;
}

header {
  margin: 1rem auto;
  text-align: center;
}

#title {
  font-size: 2rem;
  text-transform: uppercase;
}

/* label {
} */

#survey-form {
  width: 80vw;
  padding: 0.5rem;
  margin-right: 1rem auto;
  border-radius: 0.5rem;
}

input {
  display: block;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  border: solid 1px white;
  width: 100%;
  color: black;
  background-color: white;
  box-sizing: border-box;
}
