* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin-top: 4rem;
  width: 100vw;
  color: white;
  background-color: blueviolet;
  font-family: sans-serif;
}

header {
  margin: 1rem auto;
  text-align: center;
}

#title {
  font-size: 2rem;
  text-transform: uppercase;
}

#survey-form {
  width: 80vw;
  padding: 2rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  background-color: rgba(106, 0, 106, 0.807);
}

/* label {
  padding-left: 0.1rem;
  margin: 1rem 0;
} */
section > input {
  display: block;
  margin: 0.1rem 0 0.8rem 0;
  padding: 0.5rem 0.3rem;
  border-radius: 0.3rem;
  border: solid 1px white;
  width: 100%;
  color: black;
  background-color: white;
  box-sizing: border-box;
}

#dropdown-box {
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
}

#dropdown {
  margin-left: 1rem;
}

.first--radios-box {
  display: flex;
}

.radios,
.checkboxes {
  margin-right: 1rem;
}

.p-header {
  margin: 0.5rem 0;
}

textarea {
  width: 100%;
  margin: 0.5rem auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

#submit-box {
  text-align: center;
}

#submit {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: solid 2px purple;
}

#submit:hover {
  background-color: grey;
  color: white;
}
